<!-- home.component.html -->
<section class="container-fluid">
    <div class="row mt-5">
      <!-- Left Column -->
      <div class="col-md-12 col-lg-6 ">
        <h3 class="text-danger text-uppercase " style="letter-spacing: 3px;">Sufiyan Abbasi</h3>
        <h1 class="text-white  text-uppercase">Hey! I'm Sufiyan</h1>
        <!-- <h1 class="text-uppercase fw-bold " style="color: #0788FF;">I'm Web Developer</h1> -->
        <h1 class="text-uppercase fw-bold" style="color: #0788FF;">
            <span >I'm </span>
            <span id="word2" style="visibility: hidden;">Web </span>
            <span id="word3" style="visibility: hidden;">Developer</span>
          </h1>
        <p>
            Passionate front-end developer skilled in crafting intuitive user experiences and translating designs into clean, responsive code.Skilled in HTML, CSS, Bootstrap, Tailwind, Sass, JavaScript, and Angular, I'm good at making websites look nice and work well. I know how to use these tools to create websites that people like to use.
        </p>
      </div>
      <!-- Right Column -->
      <div class="col-md-12 col-lg-6">
        <img src="../../../assets/images/newlp.png" alt="Image" class="img-fluid">
      </div>
    </div>
  </section>
  